<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <title>ハンドサイン ジェネレータ</title>

    <meta name='description' content=''>
    <meta name='keywords' content=''>

    <meta name='twitter:card' content='summary'>
    <meta name='twitter:url' content='http://'>
    <meta name='twitter:site' content='@'>

    <meta property='og:description' content=''>
    <meta property='og:image' content='http://'>
    <meta property='og:locale' content='ja_JP'>
    <meta property='og:site_name' content=''>
    <meta property='og:type' content='article'>

    <link rel='shortcut icon' href=''>
    <link rel='canonical' href='http://'>

    <meta name='' content=''>
    <meta name='' content=''>
    <meta name='' content=''>

    <!-- styles -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <link rel='stylesheet' href='css/cover/cover.css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body id='handsign-generator' class='generator'>
    <!-- facebook like button
    ================================================== -->
    <div id='fb-root'></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = '//connect.facebook.net/ja_JP/all.js#xfbml=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- SNS Buttons
    ================================================== -->
    <div class='container'>
      <div class='row'>
        <div class='col-md-12' role='main'>


        </div>
      </div>
    </div>


    <div class='container main'>
      <div class='row'>
        <div class='col-sm-12' role='main'>
          <h1>ハンドサイン ジェネレータ</h1>
        </div>

        <div class='col-sm-12' role='main'>

          <a href='http://' class='hatena-bookmark-button' data-hatena-bookmark-layout='simple-balloon' title='このエントリーをはてなブックマークに追加'><img src='http://b.st-hatena.com/images/entry-button/button-only@2x.png' alt='このエントリーをはてなブックマークに追加' width='20' height='20' style='border: none;' /></a><script type='text/javascript' src='http://b.st-hatena.com/js/bookmark_button.js' charset='utf-8' async='async'></script>
          <div data-plugins-type='mixi-favorite' data-href='http://' data-service-key='' data-size='medium' data-show-faces='false' data-show-count='true' data-show-comment='false' data-width='110'></div><script type='text/javascript'>(function(d) {var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true;s.src = '//static.mixi.jp/js/plugins.js#lang=ja';d.getElementsByTagName('head')[0].appendChild(s);})(document);</script>
          <div class='fb-like' data-href='http://' data-send='false' data-layout='button_count' data-width='250' data-show-faces='false'></div>
          <a href='https://twitter.com/share' class='twitter-share-button' data-lang='ja'>ツイート</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        </div>
      </div>

      <div class='row'>
        <div class='col-sm-9' role='main'><input type='text' ng-model='text0' placeholder='騒がしいコミックマーケット会場で使われるハンドサイン一覧' ></div>
      </div>

      <div class='row'>
        <div class='col-sm-4' role='main'><input type='text' ng-model='text1' placeholder='買いに行くのは待て' ></div>
        <div class='col-sm-4' role='main'><input type='text' ng-model='text2' placeholder='おｋ。買いに行くぞ' ></div>
        <div class='col-sm-4' role='main'><input type='text' ng-model='text3' placeholder='小銭は持ったか？' ></div>
      </div>

      <div class='row'>
        <div class='col-sm-4' role='main'><input type='text' ng-model='text4' placeholder='既巻あり' ></div>
        <div class='col-sm-4' role='main'><input type='text' ng-model='text5' placeholder='新刊ｷﾀｺﾚ！' ></div>
        <div class='col-sm-4' role='main'><input type='text' ng-model='text6' placeholder='スケブはやってない無理を言わないように' ></div>
      </div>

      <div class='row'>
        <div class='col-sm-4' role='main'><input type='text' ng-model='text7' placeholder='売り切れだ' ></div>
        <div class='col-sm-4' role='main'><input type='text' ng-model='text8' placeholder='買ったものをしまえ' ></div>
        <div class='col-sm-4' role='main'><input type='text' ng-model='text9' placeholder='ルートを見直す必要がある' ></div>
      </div>

      <div class='row'>
        <div class='col-sm-4' role='main'><input type='text' ng-model='text10' placeholder='かなりの行列だ荷物を下ろして待て' ></div>
        <div class='col-sm-4' role='main'><input type='text' ng-model='text11' placeholder='予定にはなかったがあれはどうしても欲しい' ></div>
        <div class='col-sm-4' role='main'><input type='text' ng-model='text12' placeholder='撤収する' ></div>
      </div>

      <div class='row'>
        <div class='col-sm-12' id='screen'>
          <p class='lead'><img src='img/handsign.jpg' alt=''></p>
        </div>

      </div>
      <div id='input0' class='script'><p>{{ text1 || '買いに行くのは待て'}}</p></div>

      <!-- けしそう -->
      <div class='row'>
        <div class='col-sm-12' id='screen'>
          <p class='lead'>Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
          <p class='lead'><img src='img/handsign.jpg' alt=''></p>
          <p class='lead'>
            <a href='#' class='btn btn-lg btn-default'>Learn more</a>
          </p>

        </div>
      </div>


    </div>

    <div class='container footer'>
      <div class='row'>
        <div class='col-sm-12'>
          <p>Thanks to <a href='http://www.leafande.com/hands.html'>http://www.lefande.com</a> , Cover template for <a href='http://getbootstrap.com'>Bootstrap</a>, by <a href='https://twitter.com/mdo'>@mdo</a>.</p>
        </div>
      </div>
    </div>

    <script src='//code.jquery.com/jquery-2.1.0.min.js'></script>
    <script src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular.min.js'></script>
    <script src='js/generator.js'></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-', '');
      ga('send', 'pageview');

    </script>
  </body>
</html>

